body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 50px 16px;
}

.logo {
  height: 150px;
  margin-bottom: 24px;
}

.instructions {
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
}

.email-content {
  font-size: 16px;
  text-align: left;
  margin-bottom: 8px;
}

.destination-email {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    max-width: none;
  }

  .logo {
    width: 100%;
    max-width: none;
  }
}
